interactions:
- request:
    body: '{"datetime": "2020-05-01T00:00:00Z/2020-05-01T23:59:59Z", "collections":
      ["sentinel-2-l2a"], "intersects": {"type": "Point", "coordinates": [-105.78,
      35.79]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":2,"returned":2},"numberMatched":2,"numberReturned":2,"features":[{"type":"Feature","stac_version":"1.0.0","id":"S2B_13SDV_20200501_1_L2A","properties":{"created":"2023-09-22T22:19:53.321Z","platform":"sentinel-2b","constellation":"sentinel-2","instruments":["msi"],"eo:cloud_cover":0.800358,"proj:epsg":32613,"mgrs:utm_zone":13,"mgrs:latitude_band":"S","mgrs:grid_square":"DV","grid:code":"MGRS-13SDV","view:sun_azimuth":145.281695541092,"view:sun_elevation":66.3009502183925,"s2:degraded_msi_data_percentage":0.0166,"s2:nodata_pixel_percentage":65.853995,"s2:saturated_defective_pixel_percentage":0,"s2:dark_features_percentage":2.001663,"s2:cloud_shadow_percentage":0.005354,"s2:vegetation_percentage":15.491582,"s2:not_vegetated_percentage":77.267367,"s2[...]
- request:
    body: '{"datetime": "2020-05-01T00:00:00Z/2020-05-01T23:59:59Z", "intersects":
      {"type": "Point", "coordinates": [-105.78, 35.79]}, "collections": ["sentinel-2-l2a"],
      "next": "2020-05-01T18:04:03.406000Z,S2B_13SDV_20200501_0_L2A,sentinel-2-l2a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":2,"returned":0},"numberMatched":2,"numberReturned":0,"features":[],"links":[{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"}]}'
    headers:
      Content-Type:
      - application/geo+json; charset=utf-8
      etag:
      - W/"111-7vxaAljwSdJNfA0V9FinjXcubNg"
      x-amz-apigw-id:
      - FbHt-FlXvHcEZ_g=
      x-amzn-Remapped-content-length:
      - '273'
      x-amzn-RequestId:
      - a54839b2-6298-4bfd-b86f-e275e4948468
    status:
      code: 200
      message: OK
version: 1
